#include "../../Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "../../Flutter/Flutter-Release.xcconfig"
#include "Warnings.xcconfig"

// Disable code signing for CI builds.
CODE_SIGNING_REQUIRED = NO
CODE_SIGNING_ALLOWED = NO
CODE_SIGN_IDENTITY =

// Disable merged UI/platform thread to use the traditional threading model.
FLUTTER_MERGED_PLATFORM_THREAD = 0
